<div class="todo-pagination-container">
  <button mat-stroked-button color="success" (click)="openCreateDialog()"><mat-icon>add</mat-icon> Erstellen</button>
  <button mat-stroked-button color="warn" (click)="deleteAll()"><mat-icon>delete</mat-icon></button>
</div>
<mat-divider class="layout-divider"></mat-divider>

<mat-list role="list">
    <div mat-subheader>TODO-Liste (Reactiv) >> Diese Liste wird bei Änderungen sofort aktualisiert.</div>
    <app-todo-item *ngFor="let todo of items$ | async" [item]="todo"></app-todo-item>
    <mat-list-item *ngIf="(items$ | async)?.length <= 0"><mat-icon>info</mat-icon> Keine Ergebnisse gefunden</mat-list-item>
</mat-list>

<mat-list role="list">
  <div mat-subheader>TODO-Liste (Statisch) >> Diese Liste wird erst nach neuladen der Seite aktualisiert.</div>
  <app-todo-item *ngFor="let todo of itemsStatic" [item]="todo"></app-todo-item>
  <mat-list-item *ngIf="(itemsStatic)?.length <= 0"><mat-icon>info</mat-icon> Keine Ergebnisse gefunden</mat-list-item>
</mat-list>