<div class="todo-pagination-container">
  <button mat-stroked-button color="success" (click)="openCreateDialog()"><mat-icon>add</mat-icon> Erstellen</button>
  <button mat-stroked-button color="warn" (click)="deleteAll()"><mat-icon>delete</mat-icon></button>
</div>
<mat-divider class="layout-divider"></mat-divider>

<mat-list role="list">
    <div mat-subheader>Alle TODOs</div>
    <app-todo-item *ngFor="let todo of items$ | async" [item]="todo"></app-todo-item>
    <mat-list-item *ngIf="(items$ | async)?.length <= 0"><mat-icon>info</mat-icon> Keine Ergebnisse gefunden</mat-list-item>

    <!--<div mat-subheader>Andere Todos</div>
    <app-todo-item *ngFor="let todo of otherTodos" [todoData]="todo"></app-todo-item>
    <mat-list-item *ngIf="otherTodos.length <= 0"><mat-icon>info</mat-icon> Keine Ergebnisse gefunden</mat-list-item>-->
</mat-list>