<div class="todo-pagination-container">
  <button mat-stroked-button [routerLink]="['/items', currentRouteId - 1]"><mat-icon>chevron_left</mat-icon> Vorheriger Eintrag</button>
  <button mat-stroked-button [routerLink]="['/']"><mat-icon>view_list</mat-icon> Zur Startseite</button>
  <button mat-stroked-button [routerLink]="['/items', currentRouteId + 1]">Nächster Eintrag <mat-icon>chevron_right</mat-icon></button>
</div>

<mat-divider class="layout-divider"></mat-divider>

<div *ngIf="!show404">
  <div class="todo-info-container">
    <div class="todo-actions">
        <button mat-stroked-button (click)="editItem()"><mat-icon>edit</mat-icon> Bearbeiten</button>
        <button mat-stroked-button color="warn" (click)="deleteItem()"><mat-icon>delete</mat-icon> Löschen</button>
    </div>
    
    <mat-divider class="layout-divider"></mat-divider>
    
    <h5>Eintrag ID #{{ todo.id }}</h5>
    <h1>{{ todo.title }}</h1>

    <mat-divider class="layout-divider"></mat-divider>

    <p [innerText]="todo.description"></p>
  </div>
  <!--<mat-card class="todo-info-container mat-elevation-z0">
        
  </mat-card>-->

</div>

<div *ngIf="show404">
  <app-error404 [lastItemId]="currentRouteId"></app-error404>
</div>


