<mat-list-item class="todo-item-wrapper" matRipple [routerLink]="['items/', todoData.id]">
    <div mat-line>{{ todoData?.title }}</div>
    <div mat-line>{{ todoData?.description }}</div>

    <mat-chip-list>
        <mat-chip *ngIf="isExpiring" [disableRipple]="true" [selectable]="false"><mat-icon matChipAvatar>history</mat-icon>Läuft ab...</mat-chip>
        <mat-chip *ngIf="todoData?.tasks && todoData?.tasks?.length > 0" [disableRipple]="true" [selectable]="false"><mat-icon matChipAvatar>task_alt</mat-icon>{{ tasksDone }} / {{ tasksAmount }}</mat-chip>
    </mat-chip-list>
</mat-list-item>
